/* GLOBAL STYLES */

#root {
  width: 100vw;
}

body {
  overflow-x: hidden;
  background-color: snow;
}

h2, h3, h4, p {
  text-align: center;
  color: darkslategray;
  font-family: 'El Messiri';
}

h1 {
  font-family: 'El Messiri';
  text-align: center;
  text-transform: uppercase;
  color: rgb(52, 90, 90);
  font-size: 6vh;
  text-shadow: whitesmoke 1px 2px 1px;
}

span, p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-grid {
  margin-right: 0em !important;
  margin-left: 0em !important;
}

/* body .p-button:active {
  background-color: transparent !important;
}

body .p-button:hover {
  background-color: green !important;
} */

.home-component {
  height: 100vh;
  /* margin-bottom: 3rem; */
}


/* NAVIGATON STYLES */
.navigation > div {
  margin-top: 2rem;
  padding: 0em;
}

.navig-menu div:first-child {
  padding-left: 0em;
}

.navig-menu div:last-child {
  padding-top: 0em;
  padding-right: 0em;
}

/* .navig-menu :nth-child(2) {
  padding-bottom: 0em;
}

.navig-menu :nth-child(3) {
  padding-bottom: 0em;
} */

.pmenubar.pcomponent {
  width: fit-content;
}

.p-menuitem-text {
  font-size: large;
  color: darkslategray !important;
}

/* .logo-wrapper {
  padding-left: 0em;
} */

.logo-img {
  max-width: 140px;
  min-width: 120px;
  width: 10%;
  padding-bottom: 0em;
  padding-left: 0.3em;
}

.es-icon {
  background: url('../src/resources/spain-flag-icon.png');
  min-width: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.en-icon {
  background: url('../src/resources/usa-flag-icon.png');
  min-width: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

div.p-menubar.p-component {
  background-color: transparent;
  border: none;
  max-width: 20rem;
  /* margin: auto; */
  display: flex;
  justify-content: flex-end;
}


/* TOGGLELANGUAGE STYLES */
.toggleLangButton.p-button {
  background-color: rgb(47, 47, 97) !important;
  border: 2px solid teal !important;
}

.toggleLangButton.p-button:hover {
  background-color: rgb(10, 70, 150) !important;
  border: 2px solid lightseagreen !important;
  
}

.toggleLangButton > span {
  font-size: 14px;
  font-family: 'Alegreya';
  letter-spacing: 1px;
}


/* HERO STYLES */
#hero {
  /* width: 100vw; */
  overflow-x: hidden;
  /* padding-top: 1rem; */
}

#hero > div {
  padding-left: 0em;
  padding-right: 0em;
}

.hero-content {
  height: 80vh;
  overflow-x: hidden;
  padding-top: 0.3rem;
}

.hero-wrapper {
  height: 100%;
}

.hero-wrapper div:nth-child(1) {
  max-height: 10%;
}

.hero-wrapper div:nth-child(2) {
  /* flex-grow: 2; */
  /* height: 40%; */
  max-width: 85%;
}

.hero-wrapper div:nth-child(3) {
  max-height: 20%;
}

.hero-text-wrapper {
  height: 100%;
  background-color: rgba(255, 200, 135, 0.70);;
}

.react-parallax {
  width: 100%;
}


/* .p-menubar-custom {
  width: 100%;
  background-color: transparent;
}

.p-menubar-custom img {
  float: left;
  align-self: center
} */

.hero-appointment {
  /* background-color: rgb(235, 234, 231); */
  background: teal;
  border: 2px solid rgb(28, 49, 49);
  border-radius: 6px;
  /* color: rgb(28, 49, 49); */
  color: snow;
  cursor: pointer;
  font-size: 26px;
  font-family: 'Vollkorn';
  font-weight: bold;
  margin: 10px;
  padding: 14px 20px;
  box-shadow: 0 2px 4px darkgray;
  letter-spacing: 1px;
  text-shadow: black 1px 1px 1px;
}

.hero-appointment:hover {
  background: snow;
  /* background: rgb(235, 234, 231); */
  /* background: teal; */
  border: 2px solid black;
  color: teal;
  /* color: rgb(28, 49, 49); */
  /* color: snow;  */
  /* text-shadow: none; */
}

.hero-appointment:active {
  background-color: rgb(235, 234, 231);
  /* background: rgb(0, 139, 139); */
  /* background: rgb(0, 138, 138); */
  box-shadow: 1px 1px 1px black;
}


/* SERVICES STYLES */
#services {
  padding-top: 2rem;
  overflow-x: hidden;
}

.carousel {
  height: 100%;
}

.p-carousel-container {
  height: 90%;
  width: 90vw;
}

.p-carousel-item {
  height: 60vh;
  padding: 10px;
}

.p-card-header {
  height: 100%;
}

.p-card-body {
  height: 8rem;
}

.p-carousel-item img {
  height: auto;
}

.service-card > .p-card-body{
  text-align: center;
  background-color: azure;
}

/* ABOUT STYLES*/

.about-container {
  height: 70vh;
  padding-top: 2rem;
}

.about-panel {
  height: 70% ;
  margin: 5px;
}

.panel-left {
  background-image: url("https://ik.imagekit.io/hakxelimgs/shutterstock_757859683_gf7eycRVI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-right {
  background-color: navajowhite;
}

.panel-right div.p-grid {
  height: 100%;
}

.panel-right p {
  margin: 2rem;
}


/* SCHEDULE STYLES */
#schedule {
  height: 70vh;
  width: 100vw;
}

#schedule > div {
  height: 100%;
}

#schedule div.p-col-12.p-md-10 {
  height: 100%;
}

.schedule-info {
  /* background-color: rgba(103, 168, 253, 0.808); */
  width: auto;
  height: 85%;
  background-image: url('https://ik.imagekit.io/hakxelimgs/shutterstock_636154916_Xyr4Xp3Hv.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}

.schedule-wrapper {
  background-color: rgba(252, 244, 233, 0.89);
  height: 90%;
  width: 90%;
  padding: 1rem;
  border: 3px solid whitesmoke;
  border-radius: 5px;
}


/* CONTACT STYLES */
.contact-header {
  width: 100%;
  height: 50vw;
  background-image: url('https://ik.imagekit.io/hakxelimgs/shutterstock_1060342241_f59fxlzS7.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position-x: center;
}

.contact-header h2 {
  background-color: rgba(240, 248, 255, 0.719);
  border: 1px solid darkblue;
  border-radius: 5px;
}

.form-field {
  margin: 10px;
}

@media screen and (max-width: 767px) {
  .navig-menu > div > div.p-grid {
    justify-content: center;
  }

  .navig-menu div:first-child {
    margin-bottom: 0.3rem;
  }

  .navig-menu div:last-child {
    padding-bottom: 0em;
  }

}