/* GLOBAL STYLES */

body {
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, p {
  text-align: center;
}

.home-component {
  height: 100vh;
}

/* HERO STYLES */
#hero {
  width: 100vw;
  overflow-x: hidden;
}

.hero-content {
  height: 80vh;
  overflow-x: hidden;
}

.navig-menu {
  padding: 10px;
}

.logo-img {
  max-width: 150px;
  min-width: 80px;
  width: 10%;
}

.es-icon {
  background: url('../src/resources/spain-flag-icon.png');
  min-width: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.en-icon {
  background: url('../src/resources/usa-flag-icon.png');
  min-width: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.lang-buttons > .p-button.p-component {
  min-width: 50px;
  max-width: 5em;
  margin: 3px;
  width: 25%
}

div.p-menubar.p-component {
  background-color: transparent;
  border: none;
  max-width: 20rem;
}

/* .p-menubar-custom {
  width: 100%;
  background-color: transparent;
}

.p-menubar-custom img {
  float: left;
  align-self: center
} */

.p-button.hero-appointment {
  margin: 10px;
}

/* SERVICES STYLES */
#services {
  padding-top: 2rem;
  overflow-x: hidden;
}

.carousel {
  height: 100%;
}

.p-carousel-container {
  height: 90%;
  width: 90vw;
}

.p-carousel-item {
  height: 60vh;
  padding: 10px;
}

.p-card-header {
  height: 100%;
}

.p-card-body {
  height: 8rem;
}

.p-carousel-item img {
  height: auto;
}

.service-card > .p-card-body{
  text-align: center;
  background-color: azure;
}

/* ABOUT STYLES*/

.about-container {
  height: 70vh;
  padding-top: 2rem;
}

.about-panel {
  height: 70% ;
  margin: 5px;
}

.panel-left {
  background-image: url("https://ik.imagekit.io/hakxelimgs/shutterstock_757859683_gf7eycRVI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-right {
  background-color: navajowhite;
}

.panel-right div.p-grid {
  height: 100%;
}

.panel-right p {
  margin: 2rem;
}


/* SCHEDULE STYLES */
#schedule {
  height: 70vh;
  width: 100vw;
}

.schedule-info {
  /* background-color: rgba(103, 168, 253, 0.808); */
  width: 100vw;
  height: auto;
  background-image: url('https://ik.imagekit.io/hakxelimgs/intersection_medium_gtlVHF5t4M.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


/* CONTACT STYLES */
.contact-header {
  width: 100%;
  height: 50vw;
  background-image: url('https://ik.imagekit.io/hakxelimgs/shutterstock_1060342241_f59fxlzS7.jpg');
  background-repeat: no-repeat;
  background-size: conver;
  background-position-x: center;
}

.contact-header h2 {
  background-color: rgba(240, 248, 255, 0.719);
  border: 1px solid darkblue;
  border-radius: 5px;
}

.form-field {
  margin: 10px;
}